.social {
    display: grid;
    grid-template-columns: repeat(2, 1fr );
    gap: 20px;
}
.social-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

@media (max-width: 400px) {
    .social {
        grid-template-columns: 1fr;
    }
}